<hr>
<h2>I AM A TOP SIDEBAR</h2>
<p>
  ...and I make kittens:
  <a ui-sref = "kittens.show( { ticker:'AAPL', date:'today' } )">
    Feature STOCK
  </a>
    <a ui-sref = "kittens.show( { kittenId:2 } )">
    Feature kitten
  </a>
    <a ui-sref = "kittens.show( { kittenId:1 } )">
    Feature kitten
  </a>
    <a ui-sref = "kittens.show( { kittenId:1 } )">
    Feature kitten
  </a>
    <a ui-sref = "kittens.show( { kittenId:1 } )">
    Feature kitten
  </a>
    <a ui-sref = "kittens.show( { kittenId:1 } )">
    Feature kitten
  </a>
  See!
<hr>